#xivelyContent {
	background: #fff;
	box-shadow: inset 0px 0px 100px #f0f0f0;
}

      .rickshaw_legend .action {
              opacity: 1.0;
              color: red;
      }
      .legend {
              position:absolute;
              left: 700px;
              margin-top: -150px;
      }
      .graphs {
              position:relative;
              width:700px;
              margin-left:auto;
              margin-right:auto;
      }

      .graph {
              width: 600px;
              margin: auto;
      }

      .graphWrapper {
          position:relative;
          display: inline;
          -moz-box-shadow:inset 0px 0px 50px 25px #ffffff;
          -webkit-box-shadow:inset 0px 0px 50px 25px #ffffff;
          box-shadow:inset 0px 0px 50px 25px #ffffff;
          background-image: linear-gradient(bottom, rgb(255,255,255) 30%, rgb(245,245,245) 97%);
          background-image: -o-linear-gradient(bottom, rgb(255,255,255) 30%, rgb(245,245,245) 97%);
          background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 30%, rgb(245,245,245) 97%);
          background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 30%, rgb(245,245,245) 97%);
          background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 30%, rgb(245,245,245) 97%);
          background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.3, rgb(255,255,255)),
              color-stop(0.97, rgb(245,245,245))
          );
      }

      .ui-datepicker {
          padding:15px;
      }
